*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


/*-------以下是电脑端页头---------*/



header{
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: white;
    z-index: 1;
}

.headerbackground {
    background-color: white;
    position: fixed;
    top: 0;
    height: 160px;
    width: 100%;
}

.logo-part {
    position: relative;
    width: 300px;
    margin-left: 10%;
}

.logo{
    height: 70px;
}

.nav-part {
    margin-right: 10%;
    margin-bottom: 4px;
}

nav {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    color:black;
    margin: .5em;
}

nav a{
    text-decoration: none;
    color:black;
    font-size: 0.8rem;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none; 
}

/*-------电脑端页头结束---------*/

/*-------以下是电脑端内容部分---------*/



.left-part {
    background-color: lightp;
    position: fixed;
    top: 210;
    width: 25%;
}

.menu {
    margin-left: 50px;;
    margin-top: 0px;
}

.menu li {
    list-style: none;
    margin: .5em;
}

.menu li a {
    text-decoration: none;
    color:rgb(101, 101, 101);
    font-size: 0.9rem;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

.right-part {
    display: block;
    margin-top: 210px;
    margin-left: 20%;
    right: 0;
}

.content {
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.content p {
    font-size: 0.9rem;
}


/*-------电脑端内容部分结束---------*/

/*-------以下是手机端适配---------*/


@media screen and (max-width: 700px) {


    /*-------右上角按钮的分割线---------*/
    
    nav{
        position: fixed;
        top: 120px;
        right: 5vw;
        background-color: rgba(255, 255, 255, 0.8);
        width: 200px;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    nav ul{
        display: block;
        padding: 1em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    nav li{
        text-align: center;
        margin: 2em;
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }    
    .slash{
        display: none;
    }
    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }
    .nav-toggle:checked ~ nav li {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    .nav-toggle-label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 4.5em;
        margin-right: 3em;
        height:40%;
    }
    .nav-toggle-label span, 
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: gray;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before {
        bottom: 10px;
    }
    .nav-toggle-label span::after {
        top: 10px;
    }
    /*-------右上角按钮结束---------*/
}

/*-------手机端适配结束---------*/

/*-------页脚的分割线---------*/

.thepage {
    min-height: 100%;
}
footer {
    width: 100%;
    height: 40px;
    margin-top: -40px;
}

.copyright {
    color: black;
    font-size: 12px;
    text-align: center;
}


