*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position： relative;
    padding: 05%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    height: 90px;
}


nav .navwork li{
    list-style: none;
    display: inline-block;
    color:white;
    margin-right: 40px;
}

nav .navwork li a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}

nav .navcv li{
    list-style: none;
    display: inline-block;
    color:white;
    margin-right: 40px;
}

nav .navcv li a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: auto;
    }
}

.copyright{
    position: absolute;
    bottom: 20px;
    color: black;
    font-size: 14px;
    text-align: center;
    z-index: 1;
}